
/*nav*/
.navbar-default {
	border: none;
}

.navbar {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 22px;
}

.nav>li>a {
	padding: 15px;
}

.navbar-collapse {
	text-align: center;
}


/*universal*/
html {
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.ui.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px auto;
}

.ui.cards>.card {
	flex: 1 0 calc(33.333% - 20px);
	max-width: 400px;
	min-width: 300px;
}

.icon {
	text-align: center;
}

.ui.card>.content, .ui.cards>.card>.content {
	border-top: none;
}

#header {
	flex-grow: 0;
	text-align: center;
}

.fa-2x {
	font-size: 2rem;
}

div.extra.content {
	text-align: center;
}

.ui.card>.content,
.ui.cards>.card>.content,
{
	font-size: 1rem !important;
}


/*index*/
.carousel .item img {
	margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
	background: transparent;
}

.fa-chevron-left, .fa-chevron-right {
	position: absolute;
	top: 50%;
}

.text.content {
	margin: 0 auto;
	padding: 10px;
}

#networkInfo {
	max-width: 400px;
	margin: 0 auto;
}


/*events*/
#events >.card {
	padding: 20px;
	width: 100%;
	flex: 1 1 100%;
	max-width: 100%;
	min-width: none;
	display: flex;
	flex-direction: row;
}

#events .extra {
	margin: 10px 0;
}

#events .extra > * {
	margin: 5px;
}

#events .header {
	margin-bottom: 10px;
}

#eventDetails {
	text-align: center;
	flex: 1 0 200px;
	margin-left: 10px;
	border-left: 1px solid #ccc;
	border-radius: 0 !important;
}

#eventDetails .content {
	margin: 10px 0;
}

#mainEventInfo {
	flex-grow: 20;
}

#eventURL {
	background: #e0393e;
	color: white;
}

.ui.label>a{
	opacity: 1;
}


#eventDescription > p > img {
	max-width: 300px;
	width: 100%;
}

#showMoreEvents {
	margin: 0 auto;
	font-size: 15px;
}

/*help*/
.help .ui.card>.content,
.help .ui.cards>.card>.content {
	flex-grow: 0;
}

/*photos*/

.photos a:hover {
	text-decoration: none;
	color: inherit !important;
}

.photos img {
	height: 273.35px !important;
	object-fit: cover;
}


/*sponsors*/
.sponsors>.ui.cards>.card,
.volunteers .card,
.help .card {
	box-shadow: none !important;
}

.sponsors>.ui.cards>.card .content,
.sponsors>.ui.cards>.card>.extra,
.help>.ui.cards>.card .content,
.help>.ui.cards>.card>.extra {
	border-top: none !important;
}

.ui.cards>.card>.image {
	background: none;
}

#grok {
	padding: 35px 0;
}

#codeup {
	padding: 5px 0;
}

.fa-linkedin-square {
	color: #0077b5;
}

.fa-facebook-square {
	color: #3b5998;
}

.fa-twitter-square {
	color: #1da1f2;
}

.fa-youtube-square {
	color: #f00;
}

div.extra.content>a>i {
	margin: 5px;
}


/*footer*/
footer .fa-twitter:hover {
	color: #1da1f2;
}
footer .fa-facebook:hover {
	color: #3b5998;
}
footer .fa-meetup:hover {
	color: #e0393e;
}

footer .fa-instagram:hover {
	color: #c13584;
}

footer .fa-instagram:hover {
	color: #c13584;
}

footer {
	text-align: center;
	margin: 15px 0;
	color: #777;
}

footer>ul>li>a {
	color: #777;
}

footer>ul>li>a:hover {
	color: #333;
}

footer li {
	list-style: none;
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
	font-size: 22px;
	display: inline;
	padding: 15px;
}

footer ul {
	padding: 0;
}


/*media queries*/
@media (min-width: 768px) {
	.navbar-nav {
		margin: 7px -15px;
	}
	.nav>li>a {
	    margin-top: 15px;
	}
}

@media (max-width: 980px) {
	ul.nav.navbar-nav.navbar-right {
		float: none;
		margin: 7px auto;
	}
}

@media (max-width: 600px) {
	#eventDetails {
		border: none;
	}
	#events>.card {
		flex-direction: column;
	}
}