.navbar-default {
  border: none;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
   font-size: 22px;
}

.navbar li { color: #000 }


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}


/*Some minor style changes...*/
div.col-sm-4{
	display:flex;
	flex-direction: column;
}
div.col-sm-4 span.fa-stack,div.col-sm-4 h2{
	position: relative;
	display:inline-block;
	margin:0.5rem auto;
}
