<footer>
	<ul>
		<li><a href="https://www.meetup.com/San-Antonio-PHP-Meetup/" target="_blank" class="medialinks"><i class="fa fa-lg fa-meetup" title="Meetup"></i></a></li>
		<li><a href="https://www.facebook.com/sacodingchallenge/" target="_blank" class="medialinks"><i class="fa fa-lg fa-facebook" title="Facebook"></i></a></li>
		<li><a href="https://twitter.com/SA_coding" target="_blank" class="medialinks"><i class="fa fa-lg fa-twitter" title="Twitter"></i></a></li>
		<li><a href="https://www.instagram.com/sacodingchallenge/" target="_blank" class="medialinks"><i class="fa fa-lg fa-instagram"></i></a></li>
		<li><a href="https://github.com/sacodingchallenge" target="_blank" class="medialinks"><i class="fa fa-lg fa-github" title="GitHub"></i></a></li>
		<li><a href="mailto:sacodingchallenge@gmail.com" target="_blank" class="medialinks"><i class="fa fa-lg fa-envelope" title="Email"></i></a></li>
	</ul>
	<p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2017 SA Coding Challenge</p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<% if (page === "home") { %>
<script src="/lazyCarousel.js"></script>
<% } %>
<script src="/highlightnav.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

</body>

</html>