<!DOCTYPE html>
<html lang="en">

<head>
	<title>San Antonio Coding Challenge | About</title>
	<%- include partials/meta.ejs %>
	<meta name="description" content="Learn about the volunteers that make the San Antonio Coding Challenge meetup possible.">
</head>

<body>

	<%- include partials/ga.ejs %>
	<%- include partials/nav.ejs %>

	<div class="jumbotron">
		<div class="content container">
			<h1>about us</h1>
		</div>
	</div>

	<div class="container volunteers">

		<h2>{about san antonio coding challenge}</h2>
		<p>The San Antonio Coding Challenge, which started in January 2016, is a monthly networking event featuring a coding competition and other fun games. The event is put together by volunteers from the <a href="https://www.meetup.com/San-Antonio-PHP-Meetup/" target="_blank" rel="noopener">San Antonio Coding Challenge Meetup</a> group (previously known as The San Antonio PHP Meetup group) and paid for by the generous donations of our <a href="sponsors">sponsors</a>. The monthly Coding Challenge is free and open for everyone.</p>

		<h2>{our volunteers}</h2>

		<div class="ui cards">

			<div class="ui card">
				<div class="image">
					<img src="/gene.jpg" alt="Gene Carangal">
				</div>
				<div class="content">
					<div class="header">{gene.carangal}</div>
					<div class="description">
						Gene is one of the Event Organizers of the San Antonio Coding Challenge meetup group. He is in charge of the menu and prepares most of the food. Gene works as a scrum master for <a href="https://www.usaa.com/inet/ent_logon/Logon?redirectjsp=true" target="_blank" rel="noopener">USAA</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/travis.jpg" alt="Travis Meyer">
				</div>
				<div class="content">
					<div class="header">{travis.meyer}</div>
					<div class="description">
						Travis is in charge of coming up with the code challenges and is the lead scorer. Travis works as a software developer for <a href="http://greenlight.md/" target="_blank" rel="noopener">Greenlight</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/holly.jpg" alt="Holly Bryant">
				</div>
				<div class="content">
					<div class="header">{holly.bryant}</div>
					<div class="description">
						Holly is in charge of event participant registration and tabulating the scores. Holly works as a software developer for <a href="http://greenlight.md/" target="_blank" rel="noopener">Greenlight</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/tom.jpg" alt="Tom Young">
				</div>
				<div class="content">
					<div class="header">{tom.young}</div>
					<div class="description">
						Tom is the event DJ and also helps with food preparation. He is also in charge of beverage temperature regulation and quality control. Tom works as a software developer for <a href="http://greenlight.md/" target="_blank" rel="noopener">Greenlight</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/alex.jpg" alt="">
				</div>
				<div class="content">
					<div class="header">{alexandra.gutierrez}</div>
					<div class="description">
						Alex helps with registration for the event and hosting and scoring the Jeopardy Movie Trivia. Alex is a Codeup grad and now works at <a href="http://www.vistatech-llc.com/" target="_blank" rel="noopener">Vista Technical Services, LLC</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/yumi.jpg" alt="Yumi Jeon">
				</div>
				<div class="content">
					<div class="header">{yumi.jeon}</div>
					<div class="description">
						Yumi helps with registration for the event and hosting and scoring the Jeopardy Movie Trivia. Yumi works as the director of marketing at <a href="http://codeup.com/" target="_blank" rel="noopener">Codeup</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/emmett.jpg" alt="Emmett Peters">
				</div>
				<div class="content">
					<div class="header">{emmett.peters}</div>
					<div class="description">
						Emmett hosts the Jeopardy Movie Trivia. He also holds the title of two-time Cup Stacking Challenge Champ but is now enjoying retirement. Emmett works as a student fellow for <a href="http://codeup.com/" target="_blank" rel="noopener">Codeup</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/lizzie.jpg" alt="Lizzie Nguyen">
				</div>
				<div class="content">
					<div class="header">{lizzie.nguyen}</div>
					<div class="description">
						Lizzie is the co-host of the event, and hosts the Cup Stacking Challenge. She is a freelance graphic designer at <a href="https://www.lizzienguyen.com/" target="_blank" rel="noopener">lizzienguyen.com</a>.
					</div>
				</div>
			</div>

			<div class="ui card">
				<div class="image">
					<img src="/jake.jpg" alt="Jake Tripp">
				</div>
				<div class="content">
					<div class="header">{jake.tripp}</div>
					<div class="description">
						Jake redesigned this website with improved functionality. Check out <a href="https://jaketripp.com/" target="_blank" rel="noopener">jaketripp.com</a> for examples of his work. Jake is a self-taught software developer who works at <a href="http://www.shimberg.ufl.edu/" target="_blank" rel="noopener">The Shimberg Center at the University of Florida</a>.
					</div>
				</div>
			</div>

		</div>
	</div>

	<%- include partials/footer.ejs %>
