<!DOCTYPE html>
<html lang="en">

<head>
	<title>San Antonio Coding Challenge | Sponsors</title>
	<%- include partials/meta.ejs %>
	<meta name="descriptions" content="Learn about the sponsors that help fund the San Antonio Coding Challenge meetup and about how you can become one.">
</head>

<body>

	<%- include partials/nav.ejs %>

	<div class="jumbotron">
		<div class="content container">
			<h1>our sponsors</h1>
			<p>It takes a lot of time and money to hold the coding challenge events free to the public. These sponsors make it possible. Thank you so much!</p>
		</div>
	</div>


	<div class="container sponsors">

		<div class="ui cards">

			<div class="card">
				<div class="image">
					<img src="/greenlight.jpg" alt="Greenlight logo">
				</div>
				<div class="content">
					<div class="header">Greenlight</div>
					<div class="meta">
						<a href="http://greenlight.md/" target="_blank">Website</a>
					</div>
					<div class="description">
						<p>Greenlight sponsors the majority of the food costs for the event. </p>
						<p>Greenlight is a leader in electronic testing to help doctors assess, diagnose and monitor a variety of mental health issues</p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.linkedin.com/company-beta/9316777/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/mentalhealthscreening/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://twitter.com/greenlight_md" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>

			<div class="card">
				<div class="image">
					<img src="/codeup.jpg" alt="CodeUp logo" id="codeup">
				</div>
				<div class="content">
					<div class="header">Codeup</div>
					<div class="meta">
						<a href="http://www.codeup.com/" target="_blank">Website</a>
					</div>
					<div class="description">
						<p>Codeup sponsors all the prizes awarded during the event.</p>
						<p>Codeup is a San Antonio-based career accelerator that prepares people for a career as a software developer.</p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.linkedin.com/school/3799914/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/GoCodeup/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://twitter.com/gocodeup" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.youtube.com/user/CodeupBootcamp" target="_blank"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>

			<div class="card">
				<div class="image">
					<img src="/grok.jpg" alt="Grok Interactive logo" id="grok">
				</div>
				<div class="content">
					<div class="header">Grok Interactive</div>
					<div class="meta">
						<a href="https://www.grok-interactive.com" target="_blank">Website</a>
					</div>
					<div class="description">
						<p>Grok Interactive is the official beer sponsor of the SA Coding Challenge.</p>
						<p>Grok Interactive helps companies discover and deliver software that sets them apart from the competition. From mobile apps to process automation, Grok Interactive can help position your organization for the mobile age.</p>
					</div>
				</div>
				<div class="extra content">
					<a href="https://www.linkedin.com/company-beta/2986113/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://www.facebook.com/GrokInteractive/" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
					<a href="https://twitter.com/grokinteractive" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
				</div>
			</div>

		</div>

	</div>

	<div class="jumbotron">
		<div class="content container">
			<h1>{become a sponsor}</h1>
			<p>Interested in becoming a sponsor? These are the sponsorship levels we offer</p>
		</div>
	</div>

	<div class="container">

		<div class="ui cards">

			<div class="ui card">
				<div class="content" id="header">
					<h3>{title sponsor}</h3>
				</div>
				<div class="content">
					<ul>
						<li>Naming rights for the event</li>
						<li>Banner at event</li>
						<li>Event table</li>
						<li>Opportunity to speak at event</li>
						<li>Opportunity to present awards</li>
						<li>Logo featured in flyer</li>
						<li>Logo featured in presentation</li>
						<li>Thanked during presentation</li>
					</ul>
				</div>
				<div class="extra content">
					<label>Cost: $500</label>
				</div>
			</div>

			<div class="ui card">
				<div class="content" id="header">
					<h3>{platinum sponsor}</h3>
				</div>
				<div class="content">
					<ul>
						<li>Banner at event</li>
						<li>Event table</li>
						<li>Opportunity to speak at event</li>
						<li>Opportunity to present awards</li>
						<li>Logo featured in flyer</li>
						<li>Logo featured in presentation</li>
						<li>Thanked during presentation</li>
					</ul>
				</div>
				<div class="extra content">
					<label>Cost: $250</label>
				</div>
			</div>

			<div class="ui card">
				<div class="content" id="header">
					<h3>{gold sponsor}</h3>
				</div>
				<div class="content">
					<ul>
						<li>Event table</li>
						<li>Opportunity to speak at event</li>
						<li>Opportunity to present awards</li>
						<li>Logo featured in flyer</li>
						<li>Logo featured in presentation</li>
						<li>Thanked during presentation</li>
					</ul>
				</div>
				<div class="extra content">
					<label>Cost: $150</label>
				</div>
			</div>

			<div class="ui card">
				<div class="content" id="header">
					<h3>{silver sponsor}</h3>
				</div>
				<div class="content">
					<ul>
						<li>Opportunity to present awards</li>
						<li>Logo featured in flyer</li>
						<li>Logo featured in presentation</li>
						<li>Thanked during presentation</li>
					</ul>
				</div>
				<div class="extra content">
					<label>Cost: $100</label>
				</div>
			</div>

			<div class="ui card">
				<div class="content" id="header">
					<h3>{bronze sponsor}</h3>
				</div>
				<div class="content">
					<ul>
						<li>Logo featured in presentation</li>
						<li>Thanked during presentation</li>
					</ul>
				</div>
				<div class="extra content">
					<label>Cost: $50</label>
				</div>
			</div>

			<div class="ui card">
				<div class="content" id="header">
					<h3>{contributor}</h3>
				</div>
				<div class="content">
					<ul>
						<li>Thanked during presentation</li>
					</ul>
				</div>
				<div class="extra content">
					<label>Cost: $25</label>
				</div>
			</div>

		</div>

	</div>

	<%- include partials/footer.ejs %>